In [4]:
install.packages("repr")
install.packages("digest")
install.packages("infer")
install.packages("gridExtra")
install.packages("faraway")
install.packages("broom")
install.packages("leaps")
install.packages("mltools")
install.packages("tidyverse")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [5]:
library(repr)
library(digest)
library(infer)
library(gridExtra)
library(faraway)
library(broom)
library(leaps)
library(mltools)
library(tidyverse)

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine



Attaching package: ‘mltools’


The following object is masked from ‘package:tidyr’:

    replace_na

In [20]:
hr_data <-read_csv("https://raw.githubusercontent.com/Divi76h/Stat301-Group-19/refs/heads/main/data/HR-Employee-Attrition.csv")|>
mutate(Attrition = as_factor(Attrition))|>
mutate(BusinessTravel = as_factor(BusinessTravel))|>
mutate(Department = as_factor(Department))|>
mutate(EducationField = as_factor(EducationField))|>
mutate(Gender = as_factor(Gender))|>
mutate(JobRole = as_factor(JobRole))|>
mutate(MaritalStatus = as_factor(MaritalStatus))|>
select(-Over18,-EmployeeCount)|>
mutate(OverTime = as_factor(OverTime))


head(hr_data,6)

Rows: 1470 Columns: 35
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (9): Attrition, BusinessTravel, Department, EducationField, Gender, Job...
dbl (26): Age, DailyRate, DistanceFromHome, Education, EmployeeCount, Employ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeNumber
1 1                2         Life Sciences  1
2 8                1         Life Sciences  2
3 2                2         Other          4
4 3                4         Life Sciences  5
5 2                1         Medical        7
6 2                2         Life Sciences  8
  EnvironmentSatisfaction ⋯ RelationshipSatisfaction StandardHours
1 2                       ⋯ 1                        80
2 3                       ⋯ 4                        80
3 4                       ⋯ 2                        80
4 4                       ⋯ 3                        80
5 1                       ⋯ 4                        80
6 4                       ⋯ 3                        80
  StockOptionLevel TotalWorkingYears TrainingTimesLastYear WorkLifeBalance
1 0                 8                0                     1
2 1                10                3                     3
3 0                 7                3                     3
4 0                 8                3                     3
5 1                 6                3                     3
6 0                 8                2                     2
  YearsAtCompany YearsInCurrentRole YearsSinceLastPromotion
1  6             4                  0
2 10             7                  1
3  0             0                  0
4  8             7                  3
5  2             2                  2
6  7             7                  3
  YearsWithCurrManager
1 5
2 7
3 0
4 0
5 2
6 6

In [24]:
training_hr <- hr_data |>
slice_sample(prop=0.7,replace=FALSE)

selection_set_hr<- hr_data |>
anti_join(training_hr, by = "EmployeeNumber")

training_hr <- training_hr|>
select(-EmployeeNumber)

selection_set_hr <- selection_set_hr|>
select(-EmployeeNumber)

head(training_hr)
nrow(training_hr)

head(selection_set_hr)
nrow(selection_set_hr)

  Age Attrition BusinessTravel    DailyRate Department
1 34  No        Travel_Rarely     1326      Sales
2 33  Yes       Travel_Frequently  827      Research & Development
3 41  No        Non-Travel         509      Research & Development
4 38  No        Travel_Rarely      330      Research & Development
5 58  No        Non-Travel         390      Research & Development
6 29  Yes       Travel_Rarely     1092      Research & Development
  DistanceFromHome Education EducationField EnvironmentSatisfaction Gender ⋯
1  3               3         Other          4                       Male   ⋯
2 29               4         Medical        1                       Female ⋯
3  2               4         Other          1                       Female ⋯
4 17               1         Life Sciences  3                       Female ⋯
5  1               4         Life Sciences  4                       Male   ⋯
6  1               4         Medical        1                       Male   ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 4                        80            0                15
2 2                        80            0                14
3 1                        80            0                10
4 1                        80            1                20
5 4                        80            1                12
6 2                        80            3                 4
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 2                     3               13             9
2 4                     3               13             7
3 3                     3                8             7
4 4                     2               19             9
5 2                     3                5             3
6 3                     4                2             2
  YearsSinceLastPromotion YearsWithCurrManager
1 3                       12
2 3                        8
3 0                        7
4 1                        9
5 1                        2
6 2                        2

[1] 1029

  Age Attrition BusinessTravel    DailyRate Department
1 32  No        Travel_Frequently 1005      Research & Development
2 30  No        Travel_Rarely     1358      Research & Development
3 35  No        Travel_Rarely      809      Research & Development
4 29  No        Travel_Rarely      153      Research & Development
5 21  No        Travel_Rarely      391      Research & Development
6 53  No        Travel_Rarely     1282      Research & Development
  DistanceFromHome Education EducationField EnvironmentSatisfaction Gender ⋯
1  2               2         Life Sciences  4                       Male   ⋯
2 24               1         Life Sciences  4                       Male   ⋯
3 16               3         Medical        1                       Male   ⋯
4 15               2         Life Sciences  4                       Female ⋯
5 15               2         Life Sciences  3                       Male   ⋯
6  5               3         Other          3                       Female ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 3                        80            0                 8
2 2                        80            1                 1
3 3                        80            1                 6
4 4                        80            0                10
5 4                        80            0                 0
6 4                        80            1                26
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 2                     2                7              7
2 2                     3                1              0
3 5                     3                5              4
4 3                     3                9              5
5 6                     3                0              0
6 3                     2               14             13
  YearsSinceLastPromotion YearsWithCurrManager
1 3                       6
2 0                       0
3 0                       3
4 0                       8
5 0                       0
6 4                       8

[1] 441

In [37]:
hr_backward_sel <- regsubsets(
    x=Attrition~.,
    nvmax=34,
    data=selection_set_hr,
    method="backward",)
hr_backward_sel
hr_backward_summary <- summary(hr_backward_sel) 

hr_backward_summary_df <- 
     tibble(
         n_input_variables = 1:35,
         RSQ = hr_backward_summary$rsq,
         RSS = hr_backward_summary$rss,
         ADJ.R2 = hr_backward_summary$adjr2
     )
hr_backward_summary_df
hr_backward_summary

Warning message in leaps.setup(x, y, wt = wt, nbest = nbest, nvmax = nvmax, force.in = force.in, :
“1  linear dependencies found”

Reordering variables and trying again:

Subset selection object
Call: regsubsets.formula(x = Attrition ~ ., nvmax = 34, data = selection_set_hr,
    method = "backward", )
45 Variables  (and intercept)
                                 Forced in Forced out
Age                                  FALSE      FALSE
BusinessTravelTravel_Frequently      FALSE      FALSE
BusinessTravelNon-Travel             FALSE      FALSE
DailyRate                            FALSE      FALSE
DepartmentResearch & Development     FALSE      FALSE
DepartmentHuman Resources            FALSE      FALSE
DistanceFromHome                     FALSE      FALSE
Education                            FALSE      FALSE
EducationFieldOther                  FALSE      FALSE
EducationFieldMedical                FALSE      FALSE
EducationFieldMarketing              FALSE      FALSE
EducationFieldTechnical Degree       FALSE      FALSE
EducationFieldHuman Resources        FALSE      FALSE
EnvironmentSatisfaction              FALSE      FALSE
GenderMale                           FALSE      FALSE
HourlyRate                           FALSE      FALSE
JobInvolvement                       FALSE      FALSE
JobLevel                             FALSE      FALSE
JobRoleResearch Scientist            FALSE      FALSE
JobRoleLaboratory Technician         FALSE      FALSE
JobRoleManufacturing Director        FALSE      FALSE
JobRoleHealthcare Representative     FALSE      FALSE
JobRoleManager                       FALSE      FALSE
JobRoleSales Representative          FALSE      FALSE
JobRoleResearch Director             FALSE      FALSE
JobRoleHuman Resources               FALSE      FALSE
JobSatisfaction                      FALSE      FALSE
MaritalStatusMarried                 FALSE      FALSE
MaritalStatusDivorced                FALSE      FALSE
MonthlyIncome                        FALSE      FALSE
MonthlyRate                          FALSE      FALSE
NumCompaniesWorked                   FALSE      FALSE
OverTimeNo                           FALSE      FALSE
PercentSalaryHike                    FALSE      FALSE
PerformanceRating                    FALSE      FALSE
RelationshipSatisfaction             FALSE      FALSE
StockOptionLevel                     FALSE      FALSE
TotalWorkingYears                    FALSE      FALSE
TrainingTimesLastYear                FALSE      FALSE
WorkLifeBalance                      FALSE      FALSE
YearsAtCompany                       FALSE      FALSE
YearsInCurrentRole                   FALSE      FALSE
YearsSinceLastPromotion              FALSE      FALSE
YearsWithCurrManager                 FALSE      FALSE
StandardHours                        FALSE      FALSE
1 subsets of each size up to 35
Selection Algorithm: backward

   n_input_variables RSQ        RSS      ADJ.R2
1   1                0.04182549 58.36825 0.03964286
2   2                0.07507183 56.34302 0.07084842
3   3                0.09921946 54.87204 0.09303562
4   4                0.11460717 53.93468 0.10648430
5   5                0.13633613 52.61103 0.12640896
6   6                0.15043469 51.75221 0.13868955
7   7                0.16461601 50.88833 0.15111096
8   8                0.18004235 49.94862 0.16485795
9   9                0.19480308 49.04946 0.17798922
10 10                0.20640282 48.34285 0.18794707
11 11                0.21678163 47.71061 0.19669911
12 12                0.22411998 47.26358 0.20236633
13 13                0.22815042 47.01807 0.20465148
14 14                0.23610315 46.53362 0.21099856
15 15                0.24280732 46.12522 0.21608287
16 16                0.24908578 45.74277 0.22074939
17 17                0.25230675 45.54656 0.22225761
18 18                0.25494917 45.38559 0.22316975
19 19                0.25759320 45.22453 0.22408790
20 20                0.25999474 45.07823 0.22475639
21 21                0.26323176 44.88105 0.22630543
22 22                0.26641453 44.68717 0.22780477
23 23                0.26810870 44.58396 0.22774059
24 24                0.27026584 44.45256 0.22816579
25 25                0.27213426 44.33874 0.22828692
26 26                0.27324065 44.27135 0.22759875
27 27                0.27369978 44.24338 0.22621768
28 28                0.27467067 44.18423 0.22537644
29 29                0.27558775 44.12837 0.22447350
30 30                0.27647978 44.07403 0.22353927
31 31                0.27730177 44.02396 0.22252514
32 32                0.27793636 43.98530 0.22130392
33 33                0.27836355 43.95928 0.21985249
34 34                0.27882349 43.93126 0.21842940
35 35                0.27910865 43.91389 0.21680939

Subset selection object
Call: regsubsets.formula(x = Attrition ~ ., nvmax = 34, data = selection_set_hr,
    method = "backward", )
45 Variables  (and intercept)
                                 Forced in Forced out
Age                                  FALSE      FALSE
BusinessTravelTravel_Frequently      FALSE      FALSE
BusinessTravelNon-Travel             FALSE      FALSE
DailyRate                            FALSE      FALSE
DepartmentResearch & Development     FALSE      FALSE
DepartmentHuman Resources            FALSE      FALSE
DistanceFromHome                     FALSE      FALSE
Education                            FALSE      FALSE
EducationFieldOther                  FALSE      FALSE
EducationFieldMedical                FALSE      FALSE
EducationFieldMarketing              FALSE      FALSE
EducationFieldTechnical Degree       FALSE      FALSE
EducationFieldHuman Resources        FALSE      FALSE
EnvironmentSatisfaction              FALSE      FALSE
GenderMale                           FALSE      FALSE
HourlyRate                           FALSE      FALSE
JobInvolvement                       FALSE      FALSE
JobLevel                             FALSE      FALSE
JobRoleResearch Scientist            FALSE      FALSE
JobRoleLaboratory Technician         FALSE      FALSE
JobRoleManufacturing Director        FALSE      FALSE
JobRoleHealthcare Representative     FALSE      FALSE
JobRoleManager                       FALSE      FALSE
JobRoleSales Representative          FALSE      FALSE
JobRoleResearch Director             FALSE      FALSE
JobRoleHuman Resources               FALSE      FALSE
JobSatisfaction                      FALSE      FALSE
MaritalStatusMarried                 FALSE      FALSE
MaritalStatusDivorced                FALSE      FALSE
MonthlyIncome                        FALSE      FALSE
MonthlyRate                          FALSE      FALSE
NumCompaniesWorked                   FALSE      FALSE
OverTimeNo                           FALSE      FALSE
PercentSalaryHike                    FALSE      FALSE
PerformanceRating                    FALSE      FALSE
RelationshipSatisfaction             FALSE      FALSE
StockOptionLevel                     FALSE      FALSE
TotalWorkingYears                    FALSE      FALSE
TrainingTimesLastYear                FALSE      FALSE
WorkLifeBalance                      FALSE      FALSE
YearsAtCompany                       FALSE      FALSE
YearsInCurrentRole                   FALSE      FALSE
YearsSinceLastPromotion              FALSE      FALSE
YearsWithCurrManager                 FALSE      FALSE
StandardHours                        FALSE      FALSE
1 subsets of each size up to 35
Selection Algorithm: backward
          Age BusinessTravelTravel_Frequently BusinessTravelNon-Travel
1  ( 1 )  " " " "                             " "
2  ( 1 )  "*" " "                             " "
3  ( 1 )  "*" "*"                             " "
4  ( 1 )  "*" "*"                             " "
5  ( 1 )  "*" "*"                             " "
6  ( 1 )  "*" "*"                             " "
7  ( 1 )  "*" "*"                             " "
8  ( 1 )  "*" "*"                             " "
9  ( 1 )  "*" "*"                             " "
10  ( 1 ) "*" "*"                             " "
11  ( 1 ) "*" "*"                             " "
12  ( 1 ) "*" "*"                             " "
13  ( 1 ) "*" "*"                             " "
14  ( 1 ) "*" "*"                             " "
15  ( 1 ) "*" "*"                             " "
16  ( 1 ) "*" "*"                             " "
17  ( 1 ) "*" "*"                             " "
18  ( 1 ) "*" "*"                             " "
19  ( 1 ) "*" "*"                             " "
20  ( 1 ) "*" "*"                             " "
21  ( 1 ) "*" "*"                             " "
22  ( 1 ) "*" "*"                             " "
23  ( 1 ) "*" "*"                             " "
24  ( 1 ) "*" "*"                             " "
25  ( 1 ) "*" "*"                             "*"
26  ( 1 ) "*" "*"                             "*"
27  ( 1 ) "*" "*"                             "*"
28  ( 1 ) "*" "*"                             "*"
29  ( 1 ) "*" "*"                             "*"
30  ( 1 ) "*" "*"                             "*"
31  ( 1 ) "*" "*"                             "*"
32  ( 1 ) "*" "*"                             "*"
33  ( 1 ) "*" "*"                             "*"
34  ( 1 ) "*" "*"                             "*"
35  ( 1 ) "*" "*"                             "*"
          DailyRate DepartmentResearch & Development DepartmentHuman Resources
1  ( 1 )  " "       " "                              " "
2  ( 1 )  " "       " "                              " "
3  ( 1 )  " "       " "                              " "
4  ( 1 )  " "       " "                              " "
5  ( 1 )  " "       " "                              " "
6  ( 1 )  " "       " "                              " "
7  ( 1 )  " "       " "                              " "
8  ( 1 )  " "       " "                              " "
9  ( 1 )  " "       " "                              " "
10  ( 1 ) " "       " "                              " "
11  ( 1 ) " "       " "                              " "
12  ( 1 ) " "       " "                              " "
13  ( 1 ) " "       " "                              " "
14  ( 1 ) " "       " "                              " "
15  ( 1 ) " "       " "                              " "
16  ( 1 ) " "       " "                              " "
17  ( 1 ) " "       " "                              " "
18  ( 1 ) " "       " "                              " "
19  ( 1 ) " "       " "                              " "
20  ( 1 ) " "       " "                              " "
21  ( 1 ) " "       " "                              " "
22  ( 1 ) " "       " "                              " "
23  ( 1 ) " "       "*"                              " "
24  ( 1 ) " "       "*"                              " "
25  ( 1 ) " "       "*"                              " "
26  ( 1 ) " "       "*"                              " "
27  ( 1 ) " "       "*"                              " "
28  ( 1 ) " "       "*"                              "*"
29  ( 1 ) " "       "*"                              "*"
30  ( 1 ) " "       "*"                              "*"
31  ( 1 ) " "       "*"                              "*"
32  ( 1 ) " "       "*"                              "*"
33  ( 1 ) "*"       "*"                              "*"
34  ( 1 ) "*"       "*"                              "*"
35  ( 1 ) "*"       "*"                              "*"
          DistanceFromHome Education EducationFieldOther EducationFieldMedical
1  ( 1 )  " "              " "       " "                 " "
2  ( 1 )  " "              " "       " "                 " "
3  ( 1 )  " "              " "       " "                 " "
4  ( 1 )  " "              " "       " "                 " "
5  ( 1 )  " "              " "       " "                 " "
6  ( 1 )  " "              " "       " "                 " "
7  ( 1 )  " "              " "       " "                 " "
8  ( 1 )  " "              " "       " "                 " "
9  ( 1 )  " "              " "       " "                 " "
10  ( 1 ) " "              " "       " "                 " "
11  ( 1 ) "*"              " "       " "                 " "
12  ( 1 ) "*"              " "       " "                 " "
13  ( 1 ) "*"              " "       " "                 " "
14  ( 1 ) "*"              " "       " "                 " "
15  ( 1 ) "*"              " "       " "                 " "
16  ( 1 ) "*"              " "       " "                 " "
17  ( 1 ) "*"              " "       " "                 " "
18  ( 1 ) "*"              " "       " "                 " "
19  ( 1 ) "*"              " "       " "                 " "
20  ( 1 ) "*"              " "       " "                 " "
21  ( 1 ) "*"              " "       " "                 " "
22  ( 1 ) "*"              " "       " "                 " "
23  ( 1 ) "*"              " "       " "                 " "
24  ( 1 ) "*"              " "       " "                 " "
25  ( 1 ) "*"              " "       " "                 " "
26  ( 1 ) "*"              " "       " "                 " "
27  ( 1 ) "*"              " "       " "                 " "
28  ( 1 ) "*"              " "       " "                 " "
29  ( 1 ) "*"              " "       " "                 " "
30  ( 1 ) "*"              " "       " "                 " "
31  ( 1 ) "*"              " "       " "                 " "
32  ( 1 ) "*"              " "       " "                 " "
33  ( 1 ) "*"              " "       " "                 " "
34  ( 1 ) "*"              " "       " "                 " "
35  ( 1 ) "*"              " "       "*"                 " "
          EducationFieldMarketing EducationFieldTechnical Degree
1  ( 1 )  " "                     " "
2  ( 1 )  " "                     " "
3  ( 1 )  " "                     " "
4  ( 1 )  " "                     " "
5  ( 1 )  " "                     " "
6  ( 1 )  " "                     " "
7  ( 1 )  " "                     " "
8  ( 1 )  " "                     "*"
9  ( 1 )  " "                     "*"
10  ( 1 ) " "                     "*"
11  ( 1 ) " "                     "*"
12  ( 1 ) " "                     "*"
13  ( 1 ) " "                     "*"
14  ( 1 ) " "                     "*"
15  ( 1 ) " "                     "*"
16  ( 1 ) " "                     "*"
17  ( 1 ) " "                     "*"
18  ( 1 ) " "                     "*"
19  ( 1 ) " "                     "*"
20  ( 1 ) " "                     "*"
21  ( 1 ) " "                     "*"
22  ( 1 ) " "                     "*"
23  ( 1 ) " "                     "*"
24  ( 1 ) "*"                     "*"
25  ( 1 ) "*"                     "*"
26  ( 1 ) "*"                     "*"
27  ( 1 ) "*"                     "*"
28  ( 1 ) "*"                     "*"
29  ( 1 ) "*"                     "*"
30  ( 1 ) "*"                     "*"
31  ( 1 ) "*"                     "*"
32  ( 1 ) "*"                     "*"
33  ( 1 ) "*"                     "*"
34  ( 1 ) "*"                     "*"
35  ( 1 ) "*"                     "*"
          EducationFieldHuman Resources EnvironmentSatisfaction GenderMale
1  ( 1 )  " "                           " "                     " "
2  ( 1 )  " "                           " "                     " "
3  ( 1 )  " "                           " "                     " "
4  ( 1 )  " "                           " "                     " "
5  ( 1 )  " "                           " "                     " "
6  ( 1 )  " "                           " "                     " "
7  ( 1 )  " "                           " "                     " "
8  ( 1 )  " "                           " "                     " "
9  ( 1 )  " "                           " "                     " "
10  ( 1 ) " "                           " "                     " "
11  ( 1 ) " "                           " "                     " "
12  ( 1 ) " "                           " "                     " "
13  ( 1 ) " "                           " "                     " "
14  ( 1 ) " "                           " "                     " "
15  ( 1 ) " "                           "*"                     " "
16  ( 1 ) " "                           "*"                     " "
17  ( 1 ) " "                           "*"                     " "
18  ( 1 ) " "                           "*"                     " "
19  ( 1 ) " "                           "*"                     " "
20  ( 1 ) " "                           "*"                     " "
21  ( 1 ) " "                           "*"                     " "
22  ( 1 ) " "                           "*"                     " "
23  ( 1 ) " "                           "*"                     " "
24  ( 1 ) " "                           "*"                     " "
25  ( 1 ) " "                           "*"                     " "
26  ( 1 ) " "                           "*"                     " "
27  ( 1 ) "*"                           "*"                     " "
28  ( 1 ) "*"                           "*"                     " "
29  ( 1 ) "*"                           "*"                     " "
30  ( 1 ) "*"                           "*"                     " "
31  ( 1 ) "*"                           "*"                     " "
32  ( 1 ) "*"                           "*"                     "*"
33  ( 1 ) "*"                           "*"                     "*"
34  ( 1 ) "*"                           "*"                     "*"
35  ( 1 ) "*"                           "*"                     "*"
          HourlyRate JobInvolvement JobLevel JobRoleResearch Scientist
1  ( 1 )  " "        " "            " "      " "
2  ( 1 )  " "        " "            " "      " "
3  ( 1 )  " "        " "            " "      " "
4  ( 1 )  " "        " "            " "      " "
5  ( 1 )  " "        " "            " "      " "
6  ( 1 )  " "        " "            " "      " "
7  ( 1 )  " "        " "            " "      "*"
8  ( 1 )  " "        " "            " "      "*"
9  ( 1 )  " "        "*"            " "      "*"
10  ( 1 ) " "        "*"            " "      "*"
11  ( 1 ) " "        "*"            " "      "*"
12  ( 1 ) " "        "*"            " "      "*"
13  ( 1 ) " "        "*"            " "      "*"
14  ( 1 ) " "        "*"            " "      "*"
15  ( 1 ) " "        "*"            " "      "*"
16  ( 1 ) " "        "*"            " "      "*"
17  ( 1 ) " "        "*"            " "      "*"
18  ( 1 ) " "        "*"            " "      "*"
19  ( 1 ) " "        "*"            " "      "*"
20  ( 1 ) " "        "*"            " "      "*"
21  ( 1 ) " "        "*"            " "      "*"
22  ( 1 ) " "        "*"            " "      "*"
23  ( 1 ) " "        "*"            " "      "*"
24  ( 1 ) " "        "*"            " "      "*"
25  ( 1 ) " "        "*"            " "      "*"
26  ( 1 ) " "        "*"            " "      "*"
27  ( 1 ) " "        "*"            " "      "*"
28  ( 1 ) " "        "*"            " "      "*"
29  ( 1 ) " "        "*"            " "      "*"
30  ( 1 ) "*"        "*"            " "      "*"
31  ( 1 ) "*"        "*"            " "      "*"
32  ( 1 ) "*"        "*"            " "      "*"
33  ( 1 ) "*"        "*"            " "      "*"
34  ( 1 ) "*"        "*"            " "      "*"
35  ( 1 ) "*"        "*"            " "      "*"
          JobRoleLaboratory Technician JobRoleManufacturing Director
1  ( 1 )  " "                          " "
2  ( 1 )  " "                          " "
3  ( 1 )  " "                          " "
4  ( 1 )  " "                          " "
5  ( 1 )  " "                          " "
6  ( 1 )  " "                          " "
7  ( 1 )  " "                          " "
8  ( 1 )  " "                          " "
9  ( 1 )  " "                          " "
10  ( 1 ) " "                          " "
11  ( 1 ) " "                          " "
12  ( 1 ) " "                          " "
13  ( 1 ) " "                          " "
14  ( 1 ) " "                          " "
15  ( 1 ) " "                          " "
16  ( 1 ) " "                          " "
17  ( 1 ) " "                          " "
18  ( 1 ) " "                          "*"
19  ( 1 ) " "                          "*"
20  ( 1 ) " "                          "*"
21  ( 1 ) " "                          "*"
22  ( 1 ) " "                          "*"
23  ( 1 ) " "                          "*"
24  ( 1 ) " "                          "*"
25  ( 1 ) " "                          "*"
26  ( 1 ) " "                          "*"
27  ( 1 ) " "                          "*"
28  ( 1 ) " "                          "*"
29  ( 1 ) " "                          "*"
30  ( 1 ) " "                          "*"
31  ( 1 ) " "                          "*"
32  ( 1 ) " "                          "*"
33  ( 1 ) " "                          "*"
34  ( 1 ) " "                          "*"
35  ( 1 ) " "                          "*"
          JobRoleHealthcare Representative JobRoleManager
1  ( 1 )  " "                              " "
2  ( 1 )  " "                              " "
3  ( 1 )  " "                              " "
4  ( 1 )  " "                              " "
5  ( 1 )  " "                              " "
6  ( 1 )  " "                              " "
7  ( 1 )  " "                              " "
8  ( 1 )  " "                              " "
9  ( 1 )  " "                              " "
10  ( 1 ) " "                              " "
11  ( 1 ) " "                              " "
12  ( 1 ) " "                              " "
13  ( 1 ) " "                              " "
14  ( 1 ) " "                              " "
15  ( 1 ) " "                              " "
16  ( 1 ) " "                              " "
17  ( 1 ) " "                              " "
18  ( 1 ) " "                              " "
19  ( 1 ) " "                              " "
20  ( 1 ) "*"                              " "
21  ( 1 ) "*"                              "*"
22  ( 1 ) "*"                              "*"
23  ( 1 ) "*"                              "*"
24  ( 1 ) "*"                              "*"
25  ( 1 ) "*"                              "*"
26  ( 1 ) "*"                              "*"
27  ( 1 ) "*"                              "*"
28  ( 1 ) "*"                              "*"
29  ( 1 ) "*"                              "*"
30  ( 1 ) "*"                              "*"
31  ( 1 ) "*"                              "*"
32  ( 1 ) "*"                              "*"
33  ( 1 ) "*"                              "*"
34  ( 1 ) "*"                              "*"
35  ( 1 ) "*"                              "*"
          JobRoleSales Representative JobRoleResearch Director
1  ( 1 )  " "                         " "
2  ( 1 )  " "                         " "
3  ( 1 )  " "                         " "
4  ( 1 )  " "                         " "
5  ( 1 )  " "                         " "
6  ( 1 )  " "                         " "
7  ( 1 )  " "                         " "
8  ( 1 )  " "                         " "
9  ( 1 )  " "                         " "
10  ( 1 ) " "                         " "
11  ( 1 ) " "                         " "
12  ( 1 ) " "                         " "
13  ( 1 ) " "                         " "
14  ( 1 ) " "                         " "
15  ( 1 ) " "                         " "
16  ( 1 ) "*"                         " "
17  ( 1 ) "*"                         " "
18  ( 1 ) "*"                         " "
19  ( 1 ) "*"                         "*"
20  ( 1 ) "*"                         "*"
21  ( 1 ) "*"                         "*"
22  ( 1 ) "*"                         "*"
23  ( 1 ) "*"                         "*"
24  ( 1 ) "*"                         "*"
25  ( 1 ) "*"                         "*"
26  ( 1 ) "*"                         "*"
27  ( 1 ) "*"                         "*"
28  ( 1 ) "*"                         "*"
29  ( 1 ) "*"                         "*"
30  ( 1 ) "*"                         "*"
31  ( 1 ) "*"                         "*"
32  ( 1 ) "*"                         "*"
33  ( 1 ) "*"                         "*"
34  ( 1 ) "*"                         "*"
35  ( 1 ) "*"                         "*"
          JobRoleHuman Resources JobSatisfaction MaritalStatusMarried
1  ( 1 )  " "                    " "             " "
2  ( 1 )  " "                    " "             " "
3  ( 1 )  " "                    " "             " "
4  ( 1 )  " "                    " "             "*"
5  ( 1 )  " "                    " "             "*"
6  ( 1 )  " "                    " "             "*"
7  ( 1 )  " "                    " "             "*"
8  ( 1 )  " "                    " "             "*"
9  ( 1 )  " "                    " "             "*"
10  ( 1 ) " "                    " "             "*"
11  ( 1 ) " "                    " "             "*"
12  ( 1 ) " "                    "*"             "*"