In [4]:
install.packages("repr")
install.packages("digest")
install.packages("infer")
install.packages("gridExtra")
install.packages("faraway")
install.packages("broom")
install.packages("leaps")
install.packages("mltools")
install.packages("tidyverse")

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [5]:
library(repr)
library(digest)
library(infer)
library(gridExtra)
library(faraway)
library(broom)
library(leaps)
library(mltools)
library(tidyverse)

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine



Attaching package: ‘mltools’


The following object is masked from ‘package:tidyr’:

    replace_na

In [38]:
hr_data <-read_csv("https://raw.githubusercontent.com/Divi76h/Stat301-Group-19/refs/heads/main/data/HR-Employee-Attrition.csv")|>
mutate(Attrition = as_factor(Attrition))|>
mutate(BusinessTravel = as_factor(BusinessTravel))|>
mutate(Department = as_factor(Department))|>
mutate(EducationField = as_factor(EducationField))|>
mutate(Gender = as_factor(Gender))|>
mutate(JobRole = as_factor(JobRole))|>
mutate(MaritalStatus = as_factor(MaritalStatus))|>
select(-Over18,-EmployeeCount)|>
mutate(OverTime = as_factor(OverTime))


head(hr_data,6)

Rows: 1470 Columns: 35
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (9): Attrition, BusinessTravel, Department, EducationField, Gender, Job...
dbl (26): Age, DailyRate, DistanceFromHome, Education, EmployeeCount, Employ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeNumber
1 1                2         Life Sciences  1
2 8                1         Life Sciences  2
3 2                2         Other          4
4 3                4         Life Sciences  5
5 2                1         Medical        7
6 2                2         Life Sciences  8
  EnvironmentSatisfaction ⋯ RelationshipSatisfaction StandardHours
1 2                       ⋯ 1                        80
2 3                       ⋯ 4                        80
3 4                       ⋯ 2                        80
4 4                       ⋯ 3                        80
5 1                       ⋯ 4                        80
6 4                       ⋯ 3                        80
  StockOptionLevel TotalWorkingYears TrainingTimesLastYear WorkLifeBalance
1 0                 8                0                     1
2 1                10                3                     3
3 0                 7                3                     3
4 0                 8                3                     3
5 1                 6                3                     3
6 0                 8                2                     2
  YearsAtCompany YearsInCurrentRole YearsSinceLastPromotion
1  6             4                  0
2 10             7                  1
3  0             0                  0
4  8             7                  3
5  2             2                  2
6  7             7                  3
  YearsWithCurrManager
1 5
2 7
3 0
4 0
5 2
6 6

In [39]:
training_hr <- hr_data |>
slice_sample(prop=0.7,replace=FALSE)

selection_set_hr<- hr_data |>
anti_join(training_hr, by = "EmployeeNumber")

training_hr <- training_hr|>
select(-EmployeeNumber)

selection_set_hr <- selection_set_hr|>
select(-EmployeeNumber)

head(training_hr)
nrow(training_hr)

head(selection_set_hr)
nrow(selection_set_hr)

  Age Attrition BusinessTravel    DailyRate Department
1 22  No        Travel_Rarely      581      Research & Development
2 38  No        Travel_Rarely     1380      Research & Development
3 30  No        Travel_Rarely     1275      Research & Development
4 25  No        Travel_Frequently  772      Research & Development
5 54  No        Travel_Rarely      548      Research & Development
6 59  No        Non-Travel        1420      Human Resources
  DistanceFromHome Education EducationField  EnvironmentSatisfaction Gender ⋯
1  1               2         Life Sciences   4                       Male   ⋯
2  9               2         Life Sciences   3                       Female ⋯
3 28               2         Medical         4                       Female ⋯
4  2               1         Life Sciences   4                       Male   ⋯
5  8               4         Life Sciences   3                       Female ⋯
6  2               4         Human Resources 3                       Female ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 4                        80            0                 4
2 3                        80            0                 2
3 4                        80            2                11
4 3                        80            2                 7
5 3                        80            0                19
6 4                        80            1                30
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 2                     4                3             2
2 3                     3                2             2
3 2                     3               10             8
4 6                     3                7             7
5 3                     3                1             0
6 3                     3                3             2
  YearsSinceLastPromotion YearsWithCurrManager
1 1                       2
2 2                       1
3 1                       9
4 0                       7
5 0                       0
6 2                       2

[1] 1029

  Age Attrition BusinessTravel    DailyRate Department
1 49  No        Travel_Frequently  279      Research & Development
2 37  Yes       Travel_Rarely     1373      Research & Development
3 32  No        Travel_Frequently 1005      Research & Development
4 59  No        Travel_Rarely     1324      Research & Development
5 30  No        Travel_Rarely     1358      Research & Development
6 53  No        Travel_Rarely     1219      Sales
  DistanceFromHome Education EducationField EnvironmentSatisfaction Gender ⋯
1  8               1         Life Sciences  3                       Male   ⋯
2  2               2         Other          4                       Male   ⋯
3  2               2         Life Sciences  4                       Male   ⋯
4  3               3         Medical        3                       Female ⋯
5 24               1         Life Sciences  4                       Male   ⋯
6  2               4         Life Sciences  1                       Female ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 4                        80            1                10
2 2                        80            0                 7
3 3                        80            0                 8
4 1                        80            3                12
5 2                        80            1                 1
6 3                        80            0                31
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 3                     3               10             7
2 3                     3                0             0
3 2                     2                7             7
4 3                     2                1             0
5 2                     3                1             0
6 3                     3               25             8
  YearsSinceLastPromotion YearsWithCurrManager
1 1                       7
2 0                       0
3 3                       6
4 0                       0
5 0                       0
6 3                       7

[1] 441

In [46]:
hr_backward_sel <- regsubsets(
    x=Attrition~.,
    nvmax=70,
    data=selection_set_hr,
    method="backward",)
hr_backward_sel
hr_backward_summary <- summary(hr_backward_sel) 

hr_backward_summary_df <- 
     tibble(
         n_input_variables = 1:45,
         RSQ = hr_backward_summary$rsq,
         RSS = hr_backward_summary$rss,
         ADJ.R2 = hr_backward_summary$adjr2
     )
hr_backward_summary_df
hr_backward_summary

Warning message in leaps.setup(x, y, wt = wt, nbest = nbest, nvmax = nvmax, force.in = force.in, :
“1  linear dependencies found”

Reordering variables and trying again:

Warning message in rval$lopt[] <- rval$vorder[rval$lopt]:
“number of items to replace is not a multiple of replacement length”

Subset selection object
Call: regsubsets.formula(x = Attrition ~ ., nvmax = 70, data = selection_set_hr,
    method = "backward", )
45 Variables  (and intercept)
                                 Forced in Forced out
Age                                  FALSE      FALSE
BusinessTravelTravel_Frequently      FALSE      FALSE
BusinessTravelNon-Travel             FALSE      FALSE
DailyRate                            FALSE      FALSE
DepartmentResearch & Development     FALSE      FALSE
DepartmentHuman Resources            FALSE      FALSE
DistanceFromHome                     FALSE      FALSE
Education                            FALSE      FALSE
EducationFieldOther                  FALSE      FALSE
EducationFieldMedical                FALSE      FALSE
EducationFieldMarketing              FALSE      FALSE
EducationFieldTechnical Degree       FALSE      FALSE
EducationFieldHuman Resources        FALSE      FALSE
EnvironmentSatisfaction              FALSE      FALSE
GenderMale                           FALSE      FALSE
HourlyRate                           FALSE      FALSE
JobInvolvement                       FALSE      FALSE
JobLevel                             FALSE      FALSE
JobRoleResearch Scientist            FALSE      FALSE
JobRoleLaboratory Technician         FALSE      FALSE
JobRoleManufacturing Director        FALSE      FALSE
JobRoleHealthcare Representative     FALSE      FALSE
JobRoleManager                       FALSE      FALSE
JobRoleSales Representative          FALSE      FALSE
JobRoleResearch Director             FALSE      FALSE
JobRoleHuman Resources               FALSE      FALSE
JobSatisfaction                      FALSE      FALSE
MaritalStatusMarried                 FALSE      FALSE
MaritalStatusDivorced                FALSE      FALSE
MonthlyIncome                        FALSE      FALSE
MonthlyRate                          FALSE      FALSE
NumCompaniesWorked                   FALSE      FALSE
OverTimeNo                           FALSE      FALSE
PercentSalaryHike                    FALSE      FALSE
PerformanceRating                    FALSE      FALSE
RelationshipSatisfaction             FALSE      FALSE
StockOptionLevel                     FALSE      FALSE
TotalWorkingYears                    FALSE      FALSE
TrainingTimesLastYear                FALSE      FALSE
WorkLifeBalance                      FALSE      FALSE
YearsAtCompany                       FALSE      FALSE
YearsInCurrentRole                   FALSE      FALSE
YearsSinceLastPromotion              FALSE      FALSE
YearsWithCurrManager                 FALSE      FALSE
StandardHours                        FALSE      FALSE
1 subsets of each size up to 44
Selection Algorithm: backward

ERROR: Error in `tibble()`:
! Tibble columns must have compatible sizes.
• Size 45: Existing data.
• Size 44: Column `RSQ`.
ℹ Only values of size one are recycled.

The variables within the backward selected model are

-